/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

/* Título */
h2 {
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f4f4f4;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#volver-btn {
    background-color: #f44336;
}

#volver-btn:hover {
    background-color: #da190b;
}
